.servise-id .welcome-block {
      position: relative;
      justify-content: space-between;
      height: auto;
}

.servise-id .welcome-block h1 {
      color: var(--light-color);
      font-size: clamp(1.25rem, 0.9rem + 1.75vw, 3rem);
}

